/* --- FIX: LinkedIn icon size --- */
.icon-li, .icon-li-sm {
    width: 14px;
    height: 14px;
    fill: #cce6ff;
    vertical-align: middle;
    margin-left: 3px;
}

/* --- FIX: Sidebar link colors --- */
.sidebar a {
    color: #dbe8ff;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
    text-decoration: underline;
}

/* --- Brand adjustments --- */
.brand-name {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
}

.brand-desc {
    font-size: 11px;
    opacity: 0.75;
    text-align: center;
    margin-bottom: 18px;
}

/* --- Profile avatar size tweak --- */
.profile-avatar {
    width: 32px;
    height: 32px;
    font-size: 14px;
}
